body{
	background:#F5F5F5;
}
.container{
	margin:0 auto;
	width:940px;
}



.scrollbar { 
	position:absolute;
	top:0;
	right:0;
	background: #808080; 
	
	border: 2px solid #808080;
	border-top-color: #666; 
	line-height: 0;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	
	
}
.scrollbar .handle { 
	
	background: #fff; 
	cursor: pointer; 
	line-height: 0;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: 0 1px 0 #555;
	-moz-box-shadow: 0 1px 0 #555;
	-o-box-shadow: 0 1px 0 #555;
	box-shadow: 0 1px 0 #555;
}

.horizontal.scrollbar {
    height: 8px;
    margin: 1em 0;
	width:100%;
}
.horizontal.scrollbar .handle { 
	height: 100%; 
}
.vertical.scrollbar { 
	height:100%;
	width: 8px;
}
.vertical.scrollbar .handle { 
	width: 100%; 
}

#container{
	position:relative;
	width:400px;
	height:400px;
	overflow:hidden;
}

#panel{
	position:absolute;
	top:0;
	left:0;
	width:100%;

}
#container .scrollbar{
	height:396px;
	right:0;
	position:absolute;
}

#scroller{
	/*width:600px;*/
	height:300px;
	overflow : hidden;
	position : relative;
	width:100%;
}
.wrapper::-webkit-scrollbar{
	width:0;
}
.no-select{
	-moz-user-focus: ignore;
	-moz-user-input: disabled;
	-moz-user-select: none;
}

#scrollable{
}
#scrollable .content{
	width:5000px;
}
.handle{
	position	: absolute;
	top		: 0;
	left		: 0;
}

.scrollbar{
	overflow:hidden;
}
