/* element */
#scroller {
  height: 300px;
  /* It's necessary */
}
/* asScrollable */
.asScrollable-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  background: #808080;
  border: 2px solid #808080;
  border-top-color: #666;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.asScrollable-handle {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  background: #fff;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 #555;
  -moz-box-shadow: 0 1px 0 #555;
  box-shadow: 0 1px 0 #555;
}
.asScrollable-vertical.asScrollable-scrollbar {
  height: 100%;
  width: 8px;
}
.asScrollable-vertical .asScrollable-handle {
  width: 100%;
}
.asScrollable-horizontal.asScrollable-scrollbar {
  height: 8px;
  margin: 1em 0;
  width: 100%;
}
.asScrollable-horizontal.asScrollable-scrollbar .asScrollable-handle {
  height: 100%;
}
.asScrollable-wrapper::-webkit-scrollbar {
  width: 0;
}
