@scrollbar: asScrollbar;

@scrollbar-size: 8px;

.@{scrollbar} {
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 0;
	background: #808080;
	border: 2px solid #808080;
	border-top-color: #666;
	overflow:hidden;
	border-radius: 4px;
	box-sizing:border-box;

	&-handle {
		position: absolute;
		top: 0;
		left: 0;
		line-height: 0;
		background: #fff; 
		cursor: pointer; 

		border-radius: 4px;
		box-shadow: 0 1px 0 #555;
	}

	&-vertical {
		height:100%;
		width: @scrollbar-size;
		margin: 0 5px;
	}

	&-vertical &-handle {
		width: 100%;
	}

	&-horizontal {
	    height: @scrollbar-size;
	    margin: 5px 0;
		width:100%;
	}

	&-horizontal &-handle { 
		height: 100%; 
	}
}

