#container{
	width:1000px;
	height:500px;
	margin:0 auto;
	overflow:auto;
}

#container1{
	margin-top:100px;
	width:1000px;
	height:500px;
	margin:100px auto 100px;
	overflow:auto;
}

.is-scrolling{
	-webkit-user-focus: ignore;
	-webkit-user-input: disabled;
	-webkit-user-select: none;
	-moz-user-focus: ignore;
	-moz-user-input: disabled;
	-moz-user-select: none;
	user-focus: ignore;
	user-input: disabled;
	user-select: none;
}

.asScrollable-inner {
	width:1000px;
}
.inner{
	width:1000px;
}

